/* Mainly copied from https://github.com/microsoft/vscode-extension-samples/blob/1179dd18041185080a048cf8b6b340cac6e3a7de/webview-sample/media/vscode.css#L54 */
:root {
  --container-padding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0 var(--container-padding);
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

body > {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

button,
a.button {
  display: inline-block;
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  text-decoration: none;
}

button.primary,
a.primary {
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button.secondary,
a.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover
a.button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

button:hover,
a.button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus,
a.button:focus {
  outline-color: var(--vscode-focusBorder);
}
